.html,
.body {
	height: 100%;
	width: 100%;
}

.body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #f0f0f0;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

.curve-list-wrap.table {
	width: 100%;
	height: 100%;
}

.curve-list-wrap.table > .table-cell {
	vertical-align: middle;
	text-align: center;
}